{% extends "base.html" %} {% block title %}Exercise{% endblock %}

{% block content %}
<h1>Exercise Database</h1>

<ul>
<div style="font-size: 1vw">
<p>Chest</p></div>
<li>Dumbbell Bench Press</li>
<li>Pushups</li>
<li>Close-grip bench press</li>
<li>Dumbbell Flyes</li>
<li>Incline dumbbell bench press</li>
<li>Low-cable cross-over</li>
<li>Barbell Bench Press – Medium Grip</li>
<li>Chest dip</li>
<li>Decline Dumbbell Flyes</li>
<li>Bodyweight Flyes</li>
<li>Incline cable chest fly</li>
<li>Decline barbell bench pres</li>
<li>Wide-grip bench press</li>
<li>Wide-Grip Decline Barbell Bench Press</li>
<li>Reverse-grip incline dumbbell bench press</li>
</br>
<div style="font-size: 1vw">
<p>Back</p></div>
<li>Weighted Pull-up</li>
<li>T-Bar Row with Handle</li>
<li>Atlas Stones</li>
<li>Barbell deficit deadlift</li>
<li>Pullups</li>
<li>Reverse-grip bent-over row</li>
<li>Back extension</li>
<li>Axle deadlift</li>
<li>One-arm dumbbell row</li>
<li>Rocky pull-ups/pulldowns</li>
<li>One-arm Long Bar Row</li>
<li>Close-grip pull-down</li>
<li>Pull-up</li>
<li>T-Bar Row</li>
<li>Bent over two-arm long bar row</li>
</br>
<div style="font-size: 1vw">
<p>Bicep</p></div>
<li>Incline hammer curls</li>
<li>Wide-grip barbell curl</li>
<li>EZ-bar spier curl</li>
<li>Hammer curls</li>
<li>EZ-bar curl</li>
<li>Zottman Curl</li>
<li>Biceps curl to shoulder press</li>
<li>Barbell Curl</li>
<li>Concentration curl</li>
<li>Flexor Incline Dumbbell Curls</li>
<li>Machine Bicep Curl</li>
<li>Overhead cable curl</li>
<li>Dumbbell Bicep Curl</li>
<li>Close-grip EZ-bar curl</li>
<li>Cross-body hammer curl</li>
</br>
<div style="font-size: 1vw">
<p>Triceps</p></div>
<li>Triceps dip</li>
<li>Decline EZ-bar skullcrusher</li>
<li>Dumbbell floor press</li>
<li>Cable V-bar push-down</li>
<li>Weighted bench dip</li>
<li>EZ-Bar Skullcrusher</li>
<li>Reverse Grip Triceps Position</li>
<li>Kneeling calbe triceps extension</li>
<li>Single-arm cable triceps extension</li>
<li>Triceps Pushdown – Rope Attachment</li>
<li>Seated triceps press</li>
<li>Incline EZ-bar skullcrusher</li>
<li>Decline Close-Grip Bench To Skull Crusher</li>
<li>Tricep Dumbbell Kickback</li>
</br>
<div style="font-size: 1vw">
<p>Shoulder</p></div>
<li>Dumbbell front raise to lateral raise</li>
<li>Clean and press</li>
<li>Single-arm palm-in dumbbell shoulder press</li>
<li>Clean and jerk</li>
<li>Single-arm kettlebell push-press</li>
<li>Military press</li>
<li>Standing palms-in shoulder press</li>
<li>Seated barbell shoulder press</li>
<li>Seated Dumbbell Press</li>
<li>Standing dumbbell shoulder press</li>
<li>Single-arm lateral raise</li>
<li>Power Partials</li>
<li>Incline dumbbell reverse fly</li>
<li>Overhead dumbbell front raise</li>
<li>Seated dumbbell shoulder press</li>
</br>
<div style="font-size: 1vw">
<p>Traps</p></div>
<li>Smith machine shrug</li>
<li>Leverage Shrug</li>
<li>Standing dumbbell shrug</li>
<li>Standing dumbbell upright row</li>
<li>Kettlebell sumo deadlift high pull</li>
<li>Calf-Machine Shoulder Shrug</li>
<li>Barbell Shrug</li>
<li>Barbell behind the back shrug</li>
<li>Cable straight-bar upright row</li>
<li>Cable shrug</li>
<li>Smith machine behind-the-back shrug</li>
<li>Upright Row – With Bands</li>
<li>Smith machine upright row</li>
<li>Clean Shrug</li>
<li>Scapular Pull-Up</li>
</br>
<div style="font-size: 1vw">
<p>Core</p></div>
<li>Landmine twist</li>
<li>Elbow plank</li>
<li>Bottoms Up</li>
<li>Suspended ab fall-out</li>
<li>Dumbbell V-Sit Cross Jab</li>
<li>Standing cable low-to-high twist</li>
<li>Dumbbell spell caster</li>
<li>Decline reverse crunch</li>
<li>Spider crawl</li>
<li>Cocoons</li>
<li>Cross-Body Crunch</li>
<li>Single-arm high-cable side bend</li>
<li>Elbow to knee crunch</li>
<li>Hanging toes to bar</li>
</br>
<div style="font-size: 1vw">
<p>Legs</p></div>
<li>Single-Leg Press</li>
<li>Clean from Blocks</li>
<li>Barbell Full Squat</li>
<li>Barbell Deadlift</li>
<li>Romanian Deadlift with Dumbbells</li>
<li>Tire flip</li>
<li>Clean Deadlift</li>
<li>Barbell back squat to box</li>
<li>Push-press</li>
<li>Power snatch</li>
<li>Sumo deadlift</li>
<li>Hang Clean</li>
<li>Reverse Band Box Squat</li>
<li>Jumping Rope</li>
<li>Smith Machine Calf Raise</li>

</ul>

{% endblock %}